@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #ee959e; */
  background: linear-gradient(to right, #be93c5, #7bc6cc);
  font-family: 'Nunito', sans-serif;
}

.container {
  padding-left: 40px;
  /* width: 100%; */
  max-width: 70%;
  margin: 0 auto;
}

.title {
  font-size: 50px;
}

.container h1,
label,
input,
.btn {
  margin-bottom: 20px;
  width: 100%;
}

.container label {
  font-size: 25px;
  font-weight: 600;
}

.container input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: thistle;
  font-weight: bold;
}

.container .btn {
  cursor: pointer;
  font-size: 18px;
}

/* table styling */
table {
  width: 100%;
  text-align: center;
  line-height: 1.8;
  font-weight: 800;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  font-size: 20px;
}

table tr {
  border-bottom: 1px solid rgb(24, 22, 24);
  /* border-bottom: 1px solid black; */
}

/* alert styling */
.success,
.error {
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}
